* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /* Colors */
  --main-color: #3498DB;
  --light-main-color: #C6E2FF;
  --dark-main-color: #2980B9;
  --darker-main-color: #1A5276;
  --very-dark-main-color: #0E3854;
}

html,
body {
  font-size: 16px;
  font-family: "Arial", sans-serif;
  background-color: #FFEEDD;
  color: #1A5276;
}